*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #414b42;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  gap: 4rem;
  min-height: 100lvh;
  margin: 2rem;
}

.full {
  width: 100%;
}

.small {
  max-width: 500px;
}

.middle {
  max-width: 750px;
}

.big {
  max-width: 1000px;
}
